*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.item{
    width: 200px;
    height: 200px;
    background-color: #000;
    color: #fff;
} 

.sub-items {
    display: flex;
    gap: 10px;
}
