*{
    margin: 0px;
    padding: 0px;
}

.box{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: grey;
    flex-direction: column;
}

.sub-box{
    height: 100px;
    width: 100px;
    background-color: black;
    align-self: flex-end;
}
