*{
    margin: 0px;
    padding: 0px;
}

.box1{
    width: 250px;
    background-color: grey;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.box2{
    width: 175px;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.box3{
    width: 125px;
    height: 125px;
    background-color: rgb(180, 166, 166);
    margin: 10px;
}
