*{
    margin: 0px;
    padding: 0px;
}

.box{
    display: flex;
    flex-direction: column;
}

.box1{
    height: 600px;
    width: 250px;
    background-color: grey;
}

.box2{
    height: 250px;
    width: 200px;
    position: relative;
    top: -250px;
    left: 125px;
    background-color: black;
}

.box3{
    height: 150px;
    width: 150px;
    background-color: rgb(117, 103, 103);
    position: relative;
    top: -325px;
    left: 60px;
}

